@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
}
